.wrapper {
  display: flex;
  gap: 12px;
}

.item {
  background: var(--bg-button);
  font-size: var(--font-size-1);
}

.item.anchor {
  color: var(--color-button);
}

.item:hover {
  background: var(--bg-button-hover);
}
.item:hover .anchor {
  color: var(--color-button);
}
