.wrapper {
  display: flex;
  gap: 12px;
}

.item {
  border-radius: 5px;
  background: var(--bg-button);
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-1);

  height: 36px;
  padding: 0 12px;
}

.item.anchor {
  color: var(--color-button);
}

.item:hover {
  background: var(--bg-button-hover);
}
.item:hover .anchor {
  color: var(--color-button);
}
